{% extends 'layout.html.twig' %}

{% block body %}
<br><br><br>
<div class="container-fluid">
<h2>Utilisateurs</h2>
{% if currentUser %}
<p> Vous êtes connecté en tant que : <strong>{{ currentUser.username }}</strong></p>
{% endif %}
<table class="table table-striped">
    <tr>
        <th>Username</th>
        <th>Projects</th>
        <th>Roles</th>
    </tr>
    {% for user in users %}
    <tr>
       <td style="vertical-align: middle">{{ user.username }}</td>
       <td style="vertical-align: middle">
       {% for pu in user.projectUsers %}
           {{ pu.project.name }}
           (<a href="{{ path('project_show', {'projectId' : pu.project.id}) }}">view</a> /
           <a href="{{ path('project_edit', {'projectId' : pu.project.id}) }}">edit</a>)
           <br>
       {% endfor %}
       </td>
       <td style="vertical-align: middle">
           <b>Global: </b>
           {% for role in user.roles %}
               {{role}}
               {% if not loop.last %}
                 -
                {% endif %}
           {% endfor %}
           <br>
           {% for pu in user.projectUsers %}
               {% if pu.roles is not empty %}
                   <b>{{ pu.project.name }}: </b>
                   {% for pRole in pu.roles %}
                       {{ pRole.name }}
                       {% if not loop.last %}
                           -
                       {% endif %}
                   {% endfor %}
                   <br>
               {% endif %}
           {% endfor %}
       </td>
    </tr>
    {% endfor %}
</table>

<h2>Projets</h2>
    <table class="table table-striped">
        <tr>
            <th>Nom du projet</th>
        </tr>
        {% for project in projects %}
            <tr>
                <td>{{ project.name }}
                    (<a href="{{ path('project_show', {'projectId' : project.id}) }}">view</a> /
                    <a href="{{ path('project_edit', {'projectId' : project.id}) }}">edit</a>)
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}