{% extends "layout.html.twig" %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/homepage.css') }}" />
{% endblock stylesheets %}
{% block body %}
	{% for project in projects %}
		<!--<div style="margin-top:60px">{{ project.name }}</div>-->
		<br><br>
		<div class="panel-body">
					
						<div class="col-md-4">
							<div class="panel panel-default">
							  	<div class="panel-heading">{{ project.name }}</div>
							  	<div class="projectPicture"></div>
							  	<div class="panel-footer">
							  		<div class="row">
								  		<div class="col-md-6 projectSide">
								  			<object data="{{ asset('icons/like.svg') }}" type="image/svg+xml"></object>
								  		</div>
								  		<div class="col-md-4 projectSide">
								  			<object data="{{ asset('icons/message.svg') }}" type="image/svg+xml"></object>
								  		</div>
								  	</div>
							  	</div>
							</div>
						</div>
					
				</div>
	{% endfor %}
{% endblock body %}