{% extends "layout.html.twig" %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/homepage.css') }}" />
{% endblock stylesheets %}
{% block body %}
	<div style="margin-top:75px">
		<div class="row" >
			<div class="col-md-1"></div>
	        <div class="col-md-10">
	          	<div class="row panelHome weeklyProjectPicture panelHome-default" style="background-image:url('{{ starProject.projectPicture }}')">
	            	<div class="jumbotronHome col-md-4" >
	            		<h2> {{ starProject.projectName }} </h2>
	  					<p> {{ starProject.content }} </p>
	  					<p><a  class="btn btn-primary btn-lg"href="{{ path("project_page_homepage", { 'projectId':	starProject.projectId }) }}">En Savoir Plus</a></p>
	  					{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
	  						<a href="{{ path("centrale_lille_homepage_star_project") }}">
	  							Changer le projet star
	  						</a>
	  					{% endif %}
	            	</div>
	            </div>
				<div class="row">
					<ul class="list-group col-md-5" >
						<div class="list-group-item active">
				    		<h4>Dernières Actualités</h4>
				  		</div>
				  		<div class="recent-news">
					  		{% for recentActivity in recentActivities %}
					  			<a href="{{ path("project_page_homepage", { 'projectId': recentActivity.project.id }) }}">
					  				<li class="list-group-items">
						  				<div class="row">
							  				<div class="news col-md-3" style="background-image:url('{{ recentActivity.project.picture }}')"></div>
							  				<div class="col-md-9">
							  					{% for project in recentActivity %}
							  						<strong>{{ project.name }}:</strong></br>
							  					{% endfor %}
							  					{% for user in recentActivity %}
							  						<strong>{{ user.firstname }}:</strong></br>
							  					{% endfor %}
							  					{{ recentActivity.content }}
							  				</div>
							  			</div>
						  			</li>
						  		</a>
					  		{% endfor %}
					  	</div>
					</ul>
					<div class="col-md-7 categories">
						<div class="row panelThematics panel-primary">
							<div class="panel-heading">
				    			<h4>Catégories</h4>
				    		</div>
				    		<div class="panel-body">
							    {% for category in categories %}
								    <div id="thematic-column" class="col-md-3">
								    	<a href="{{ path("centrale_lille_homepage_category", { 'category': category.name }) }}">
								    		<h4 class="thematicTitle"> {{ category.name }} </h4>
								    	</a>
								    	<a href="{{ path("centrale_lille_homepage_category", { 'category': category.name }) }}">
								    		<div class="thematics" style="background-image:url('{{ category.picture }}')"></div>
								    	</a>
								    </div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>			
				<div class="row">
					<div class="row panel panel-primary ">
						<div class="panel-heading">
							<h4>Projets Récemment créés</h4>
						</div>
						<div class="panel-body">
							{% for recentProject in recentProjects %}
								<div class="col-md-4">
									<div class="panel panel-default">
									  	<div class="panel-heading">
									  		<a href="{{ path("project_page_homepage", { 'projectId': recentProject.id }) }}">
									  			{{ recentProject.name }}
									  		</a>
									  	</div>
									  	<a href="{{ path("project_page_homepage", { 'projectId': recentProject.id }) }}">
									  		<div class="recentProjectPicture" style="background-image:url('{{ recentProject.picture }}');"></div>
									  	</a>
									  	<div class="panel-footer">
									  		<div class="row">
											  	{% if app.user %}
			                               	        {% if not likes[recentProject.name] %}
			                                            <object id="like" data="{{ asset('icons/like.svg') }}" type="image/svg+xml"></object>
			                                            <div class ="{{ recentProject.name }}" id="follow">Suivre</div>
			                                        {% else %}
			                                            <object id="like" data="{{ asset('icons/likeOn.svg') }}" type="image/svg+xml"></object>
			                                            <div class ="{{ recentProject.name }}" id="follow">Ne Plus Suivre</div>
			                                        {% endif %}
			                                    {% else %}
			                                    	<object id="like" data="{{ asset('icons/like.svg') }}" type="image/svg+xml"></object>
			                                   	{% endif %}
		                                    </div>
		                                </div>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>		
	</div>
{{ include('like.html.twig') }}
<script>
    var projectsName = [];
    {% for recentProject in recentProjects %}
        $('[class="' + "{{ recentProject.name }}" + '"]').click(function() {
        	likefunction($('[class="' + "{{ recentProject.name }}" + '"]'), "{{ recentProject.name }}","{{ path('centrale_lille_homepage_subscribe') }}");
        });
    {% endfor %}
</script>
{% endblock body %}
