{% extends "layout.html.twig" %}
	<link rel="stylesheet" href="{{ asset('css/homepage.css') }}" />
{% endblock stylesheets %}
{% block body %}
	<div style="margin-top:75px">
		<div class="row" >
			<div class="col-md-1"></div>
	        <div class="col-md-10">
	          	<div class="row panelHome weeklyProjectPicture panelHome-default">
	            	<div class="jumbotronHome col-md-4" >
	            		<h2> {{ weeklyProject.projectName }} </h2>
	  					<p> {{ weeklyProject.projectDescription }} </p>
	  					<p><a class="btn btn-primary btn-lg">En Savoir Plus</a></p>
	            	</div>
	            </div>
	        </div>
	    	<div class="col-md-1"></div>
	    </div>
    

	<div class="row">
		<div class="col-md-1"></div>
		<ul class="list-group col-md-4">
			<div class="list-group-item active">
	    		<h4>Dernières Actualités</h4>
	  		</div>
	  		{% for new in news %}
	  			<li class="list-group-item">
	  				<div class="row">
		  				<div class="news col-md-3"></div>
		  				<div class="col-md-9">
		  					<strong>{{ new.projectName }}:</strong></br>
		  					{{ new.userName }} {{ new.newsType }}
		  				</div>
		  			</div>
	  			</li>	
	  		{% endfor %}
		</ul>
		<div class="col-md-6">
			<div class="row panelThematics panel-primary">
				<div class="panel-heading">
	    			<h4>Thématiques</h4>
	    		</div>
	    		<div class="panel-body">
				    {% for thematic in thematics %}
					    <div id="thematic-column" class="col-md-3">
					    	<h4 class="thematicTitle"> {{ thematic }} </h4>
					    	<div class="thematics"></div>
					    </div>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="col-md-1"></div>
	</div>

	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="row panel panel-primary ">
				<div class="panel-heading">
					<h4>Projets Récemment créés</h4>
				</div>
				<div class="panel-body">
					{% for recentProject in recentProjects %}
						<div class="col-md-4">
							<div class="panel panel-default">
							  	<div class="panel-heading">{{ recentProject.projectName }}</div>
							  	<div class="recentProjectPicture"></div>
							  	<div class="panel-footer">
							  		<div class="row">
								  		<div class="col-md-4 recentProjectSide">
								  			<object data="{{ asset('icons/like.svg') }}" type="image/svg+xml"></object>
								  			</br>{{ recentProject.likes }}
								  		</div>
								  		<div class="col-md-4 recentProjectCenter">
								  			<object data="{{ asset('icons/message.svg') }}" type="image/svg+xml"></object>
								  		</br>{{ recentProject.messages }}
								  		</div>
								  		<div class="col-md-4 recentProjectSide">
								  			<object data="{{ asset('icons/file.svg') }}" type="image/svg+xml"></object>
								  		</br>{{ recentProject.files}}
								  		</div>
								  	</div>
							  	</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="col-md-1"></div>
	</div>
	</div>
{% endblock body %}
