<html>
<!--
    Pour des exemples d'utilisation du Bootstrap United, se référer à la page suivante:
    https://bootswatch.com/united/
    ou au pire des cas contacter le groupe 1
-->
    <head>
        <meta charset="UTF-8"/>
        <title>{% block title %}Fablab - École Centrale de Lille{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" />
        {% block stylesheets %}
          <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" />
          <link rel="stylesheet" href="{{ asset('css/homepage.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </head>
    <body>
      <div class="row">
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="{{ path("homepage")}}">IMAGINE & MAKE</a>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li><a href="{{ path("homepage")}}">Accueil <span class="sr-only"></span></a></li>
                  <li><a href="{{ path("news_feed")}}">Fil d'actualité</a></li>
                  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                      <li><a href="{{ path("centrale_lille_newsfeed_activity")}}">Gestion des activités</a></li>
                  {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li>
                    <a href="{{ path("project_new")}}">Créer un projet</a>
                  </li>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Réservations<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="{{ path('centrale_lille_my_booking') }}">Mes réservations</a></li>
                          <li><a href="{{ path('centrale_lille_machine') }}">Réservation Machine</a></li>
                          <li><a href="{{ path('centrale_lille_casier') }}">Réservation Casier</a></li>
                          <li><a href="{{ path('centrale_lille_salle') }}">Réservation Salle</a></li>
                          <li>-------ADMINISTRATION-------</li>
                          <li><a href="{{ path('centrale_lille_administration_events') }}">Gestion des réservations</a></li>
                          <li><a href="{{ path('centrale_lille_administration_resources') }}">Gestion des ressources</a></li>
                        </ul>
                      </li>
                    {% else %}
                    <li>
                      <a href="{{ path('fos_user_security_login') }}">Réservations</a>
                    </li>
                    {% endif %}
                  </li>
                  <li>
                    <form class="navbar-form navbar-right" action="{{ path('centrale_lille_search') }}" method="get">
                      <div class="form-group">
                        <input type="text" id="searchForm" name="searchForm" class="form-control" placeholder="Rechercher sur le site">
                      </div>
                    </form>
                  </li>
                  {% if app.user %}
                    <li class="dropdown">
                      <a href="{{ path("centralelille_customfosuser_default_index")}}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">{{ app.user.username }} <span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ path("fos_user_profile_show")}}">Mon Profil</a></li>
                        <li><a href="#">Mes Projets</a></li>
                        <li><a href="{{ path("centrale_lille_newsfeed_abonnements")}}">Mes Abonnements</a></li>
                        <li><a href="{{ path("fos_user_security_logout")}}">Deconnexion</a></li>
                      </ul>
                    </li>
                  {% else %}
                    <li><a href="{{ path("fos_user_security_login")}}">Connexion</a></li>
                    <li><a href="{{ path("fos_user_registration_register")}}">Créer un compte</a></li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </nav>
        </div>
    {% block body %}{% endblock %}
      <script src="http://code.jquery.com/jquery-2.2.2.min.js"   integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="   crossorigin="anonymous"></script>
      <script src="{{ asset('js/vendor/autocomplete/jquery.easy-autocomplete.min.js') }}"></script>
      <script src="{{ path('js_search') }}"></script>
      <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
      <script type="text/javascript" src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
      <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/fullcalendar/jquery.fullcalendar.min.js') }}"></script>
      <script type="text/javascript" src="{{ asset('js/calendar-settings.js') }}"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
    </body>
</html>
