<html>
<!--
    Pour des exemples d'utilisation du Bootstrap United, se référer à la page suivante:
    https://bootswatch.com/united/
    ou au pire des cas contacter le groupe 1
-->
    <head>
        <meta charset="UTF-8"/>
        <title>{% block title %}Fablab - École Centrale de Lille{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" />
        {% block stylesheets %}
          <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" />
          <link rel="stylesheet" href="{{ asset('css/homepage.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </head>
    <body>
      <div class="row">
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="{{ path("homepage")}}">IMAGIN & MAKE</a>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li><a href="{{ path("homepage")}}">Accueil <span class="sr-only"></span></a></li>
                  <li><a href="{{ path("news_feed")}}">Fil d'actualité</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="{{ path("project_new")}}">Créer un projet</a></li>
                  <li><a href="{{ path("centrale_lille_machine")}}">Réserver une machine</a></li>
                  <li>
                    <form class="navbar-form navbar-right" role="search">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Rechercher sur le site">
                      </div>
                    </form>
                  </li>
                  {% if app.user %}
                    <li class="dropdown">
                      <a href="{{ path("centralelille_customfosuser_default_index")}}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">{{ app.user.username }} <span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Mon Profil</a></li>
                        <li><a href="#">Mes Projets</a></li>
                        <li><a href="{{ path("centrale_lille_newsfeed_abonnements")}}">Mes Abonnements</a></li>
                        <li><a href="{{ path("fos_user_security_logout")}}">Deconnexion</a></li>
                      </ul>
                    </li>
                  {% else %}
                    <li><a href="{{ path("fos_user_security_login")}}">Connexion</a></li>
                    <li><a href="{{ path("fos_user_registration_register")}}">Créer un compte</a></li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
    {% block body %}{% endblock %}
    </body>
</html>
