{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>Username : {{ user.username }}</p>
    <p>Email : {{ user.email }}</p>
    <p>Nom : {{ user.lastname }}</p>
    <p>Prénom : {{ user.firstname }}</p>
    <p>Promo : {{ user.promo }}</p>
    <p>Téléphone : {{ user.phone }}</p>
</div>
