{% extends 'layout.html.twig' %}

{% block body %}
<br><br><br>
		<div class="row">
			<div class="col-md-3 col-md-offset-1">
				<div class="row">
					<h1 class="text-primary text-center">Mon compte</h1></br></br>
				</div>
				<div class="fos_user_user_show">
					<div class="row">
						<div class="col-md-6">Prénom : </div>
						<div class="col-md-3">{{ user.firstname }}</div>
					</div>
					</br>
					<div class="row">
						<div class="col-md-6">Nom : </div>
						<div class="col-md-3">{{ user.lastname }}</div>
					</div>
					</br>
					<div class="row">
						<div class="col-md-6">Nom : </div>
						<div class="col-md-3">{{ user.lastname }}</div>
					</div>
					</br>
					<div class="row">
						<div class="col-md-6">Email : </div>
						<div class="col-md-3">{{ user.email }}</div>
					</div>
					</br>
					<div class="row">
						<div class="col-md-6">Promo : </div>
						<div class="col-md-3">{{ user.promo }}</div>
					</div>
					</br>
					<div class="row">
						<div class="col-md-6">Téléphone : </div>
						<div class="col-md-3">{{ user.phone }}</div>
					</div>
					</br>
					<div class="row">
						<div class="col-md-12">
							<a href={{path('fos_user_profile_edit')}} class="btn btn-primary btn-block">Modifier</a>
						</div>
					</div>
				</div>
				</br>

			</div>
			<div class="col-md-3 col-md-offset-2">
				<h1 class="text-primary text-center">Mes projets</h1>
				</br></br>
				<ul>
				    {% for project in projects %}
				        <div class="row">{{ project.project.name }}</div>
				        </br>
				    {% endfor %}
				</ul>
			</div>
		</div>
		
		
	</div>
</div>

{% endblock body %}
