{% extends 'layout.html.twig' %}

{% block body %}
<br><br><br>
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-primary" style="margin-top:50px;">
                    <div class="panel-heading">
                        <h1 class="text-center">Inscription</h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group col-md-6">
                                    {{ form_errors(form.username) }}
                                    {{ form_label(form.username, 'Nom d\'utilisateur', {'label_attr':{'class': 'control-label'}}) }}
                                    {{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                                <div class="form-group col-md-6">
                                    {{ form_errors(form.email) }}
                                    {{ form_label(form.email, 'Email', {'label_attr':{'class': 'control-label'}}) }}
                                    {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                                <div class="form-group col-md-12">
                                    {{ form_errors(form.plainPassword.first) }}
                                    {{ form_label(form.plainPassword.first, 'Mot de passe', {'label_attr':{'class': 'control-label'}}) }}
                                    {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                                <div class="form-group col-md-12">
                                    {{ form_errors(form.plainPassword.second) }}
                                    {{ form_label(form.plainPassword.second, 'Confirmez le mot de passe', {'label_attr':{'class': 'control-label'}}) }}
                                    {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
                                    <br>
                                    <input class="btn btn-primary" type="submit" value="S'inscire" />
                                </div>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}
