{% extends "layout.html.twig" %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/newsFeed.css') }}" />
{% endblock stylesheets %}

{% block body %}

	<div class="newsFeed">
		<div class="col-md-2 filter-menu">
			<h3>Filtres</h3>
			<h4>Type d'activité</h4>
			<h4>Thématiques</h4>
			<h4>Date</h4>
			<div class="form-group">
			  <input class="form-control" id="focusedInput" value="Membre" type="text">
			</div>
		</div>
		
		<div class="col-md-5">
			<div class="col-md-1"></div>
			<div class="col-md-11">
				<h2>Fil d'actualité</h2>
				{% for recentProject in recentProjects %}
					<div class="news">
						<div class="row">
							<div class="project-name">
								{{ recentProject.projectName }}
								<div class="time-elapsed">{{ recentProject.date }}</div>
							</div>
							<div class="panel panel-default">
								<div class="recentProjectPicture"></div>
								<div class="panel-footer">
									<div class="row">
										<div class="col-md-4 recentProjectSide">
											<object data="{{ asset('icons/like.svg') }}" type="image/svg+xml"></object>
								  			</br>{{ recentProject.likes }}
								  		</div>
								  		<div class="col-md-4 recentProjectCenter">
								  			<object data="{{ asset('icons/message.svg') }}" type="image/svg+xml"></object>
								  			</br>{{ recentProject.messages }}
								  		</div>
								  		<div class="col-md-4 recentProjectSide">
								  			<object data="{{ asset('icons/file.svg') }}" type="image/svg+xml"></object>
								  			</br>{{ recentProject.files }}
								  		</div>
								  	</div>
							  	</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 recentProjectLeft">
								<object data="{{ asset('icons/message.svg') }}" type="image/svg+xml"></object>Commenter
							</div>
							<div class="col-md-6 recentProjectRight">
								<object data="{{ asset('icons/share.svg') }}" type="image/svg+xml"></object>Partager
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			
		</div>
		<div class="col-md-4">
			<div class="right-menu">
				<div class="row">
					<form role="search">
	                	<div class="form-group">
	                 		<input type="text" class="form-control" placeholder="Personnes,thématiques, projets...">
	                	</div>
	            	</form>
	            </div>

	            <div class="button-right-menu">
	  				<div class="panel-body">
	    				Mon Profil
	    				<object data="{{ asset('icons/arrow-right.svg') }}" type="image/svg+xml" class="arrow-right"></object>
	  				</div>
				</div>

				<div class="button-right-menu">
	  				<div class="panel-body">
	    				Mes Projets
	    				<object data="{{ asset('icons/arrow-right.svg') }}" type="image/svg+xml" class="arrow-right"></object>
	  				</div>
				</div>
				<div class="button-right-menu">
	  				<div class="panel-body">
	    				Mes Abonnements
	    				<object data="{{ asset('icons/arrow-right.svg') }}" type="image/svg+xml" class="arrow-right"></object>
	  				</div>
				</div>
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Ça peut vous intéresser !</h3>
					</div>
					<div class="panel-body">
						{% for suggestion in suggestions %}
		    				<div class="row suggestion">
		    					<div class="suggestion-picture col-md-3"></div>
		    					<div class="suggestion-type">
									{% if suggestion.type==1 %}
										Projet:
									{% elseif suggestion.type==2 %}
										Catégorie:
									{% endif %}
								</div>
		    					<div class="col-md-6 suggestion-name" >{{ suggestion.name }}</div>
		    					<div class="add col-md-3">+</div>
		    				</div>
		    			{% endfor %}
	  				</div>
  				</div>
			</div>
		</div>
	<div class="col-md-1"></div>
</div>
{% endblock body %}
