{% extends 'base.html.twig' %}

{% block body %}
    <h1>Demo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ demo.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ demo.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ demo.content }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if demo.createdAt %}{{ demo.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('demo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('demo_edit', { 'id': demo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
