{% extends "layout.html.twig" %}
{% if form is defined %}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
{% endif %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/newsFeed.css') }}" />
{% endblock stylesheets %}
{% block body %}
    <div class="newsFeed">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <h2>{{ project.getName() }}</h2>
                {% if not recentActivities %}
                    Vous n'avez aucune activité à afficher. N'hésitez pas à suivre des projets où des catégories pour voir leurs actualités.
                {% else %}
                    {% for recentActivity in recentActivities %}
                        <div class="news row">
                            <div class="project-name">
                                <a href="{{ path("project_page_homepage", { 'projectId': recentActivity.project.id }) }}">
                                    {{ recentActivity.project.name }}
                                </a>
                                <div class="time-elapsed">Le {{ recentActivity.date|date('Y-m-d') }} à {{ recentActivity.date|date('H:i') }}</div>
                            <div class="activity-content">
                                    {{ recentActivity.content }}
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <a href="{{ path("project_page_homepage", { 'projectId': recentActivity.project.id }) }}">
                                    <div class="recentProjectPicture" style="background-image:url('{{ recentActivity.project.picture }}');"></div>
                                </a>
                                <div class="panel-footer">
                                    <div class="row">
                                        <div class="col-md-6 recentProject">
                                        {% if likes is defined %}
                                            {% if not likes[recentActivity.project.name] %}
                                                <object id="like" data="{{ asset('icons/like.svg') }}" type="image/svg+xml"></object>
                                                <div class ="{{ recentActivity.project.name }}" id="follow">Suivre</div>
                                            {% else %}
                                                <object id="like" data="{{ asset('icons/likeOn.svg') }}" type="image/svg+xml"></object>
                                                <div class ="{{ recentActivity.project.name }}" id="follow">Ne Plus Suivre</div>
                                            {% endif %}
                                        {% endif %}
                                        </div>
                                        <div class="col-md-6 recentProject">
                                            <object data="{{ asset('icons/message.svg') }}" type="image/svg+xml"></object></br>Commenter
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            {% if form is defined %}
                {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <input type="submit" value="Ajouter l'activité"
                            class="btn btn-primary" />
                {{ form_end(form) }}
            {% endif %}
        </div>
        <div class="col-md-3">
            <div class="right-menu">
                <div class="row">
                    <form role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Personnes,thématiques, projets...">
                        </div>
                    </form>
                </div>

                <div class="button-right-menu">
                    <div class="panel-body">
                        Mon Profil
                        <object data="{{ asset('icons/arrow-right.svg') }}" type="image/svg+xml" class="arrow-right"></object>
                    </div>
                </div>

                <div class="button-right-menu">
                    <div class="panel-body">
                        Mes Projets
                        <object data="{{ asset('icons/arrow-right.svg') }}" type="image/svg+xml" class="arrow-right"></object>
                    </div>
                </div>
                <div class="button-right-menu">
                    <a href="{{ path("centrale_lille_newsfeed_abonnements")}}">
                        <div class="panel-body">
                            Mes Abonnements
                            <object data="{{ asset('icons/arrow-right.svg') }}" type="image/svg+xml" class="arrow-right"></object>
                        </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    <div class="col-md-1"></div>
</div>
<script src="{{ asset('jquery.js') }}"></script>
<script src="{{ asset('js/oXHR.js') }}"></script>
{{ include('like.html.twig') }}
<script>
    var projectsName = [];
    {% for recentActivity in recentActivities %}
        if (projectsName.indexOf("{{ recentActivity.project.name }}") == -1) {
            projectsName.push("{{ recentActivity.project.name }}");

            $('[class="' + "{{ recentActivity.project.name }}" + '"]').click(function() {
                likefunction($('[class="' + "{{ recentActivity.project.name }}" + '"]'), "{{ recentActivity.project.name }}","{{ path('news_feed_subscribe') }}");
            });
        };
    {% endfor %}
</script>
{% endblock body %}

