{% extends "layout.html.twig" %}
{% if form is defined %}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
{% endif %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/newsFeed.css') }}" />
{% endblock stylesheets %}
{% block body %}
    <div class="newsFeed">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <h2>{{ project.getName() }}</h2>
                {% if form is defined %}
                    {{ form_start(form) }}
                            {{ form_widget(form) }}
                            <input type="submit" value="Ajouter l'activité"
                                class="btn btn-primary" />
                    {{ form_end(form) }}
                {% endif %}
                {% if not recentActivities %}
                    Vous n'avez aucune activité à afficher. N'hésitez pas à suivre des projets où des catégories pour voir leurs actualités.
                {% else %}
                    {% for recentActivity in recentActivities %}
                        <div class="news row">
                            <div class="project-name">
                                <a href="{{ path("project_page_homepage", { 'projectId': recentActivity.project.id }) }}">
                                    {{ recentActivity.project.name }}
                                </a>
                                <div class="time-elapsed">Le {{ recentActivity.date|date('Y-m-d') }} à {{ recentActivity.date|date('H:i') }}</div>
                            <div class="activity-content">
                                    {{ recentActivity.content }}
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <a href="{{ path("project_page_homepage", { 'projectId': recentActivity.project.id }) }}">
                                    <div class="recentProjectPicture" style="background-image:url('{{ recentActivity.project.picture }}');"></div>
                                </a>
                                <div class="panel-footer">
                                    <div class="row">
                                        <div class="col-md-6 recentProject">
                                        {% if likes is defined %}
                                            {% if not likes[recentActivity.project.name] %}
                                                <object id="like" data="{{ asset('icons/like.svg') }}" type="image/svg+xml"></object>
                                                <div class ="{{ recentActivity.project.name }}" id="follow">Suivre</div>
                                            {% else %}
                                                <object id="like" data="{{ asset('icons/likeOn.svg') }}" type="image/svg+xml"></object>
                                                <div class ="{{ recentActivity.project.name }}" id="follow">Ne Plus Suivre</div>
                                            {% endif %}
                                        {% endif %}
                                        </div>
                                        <div class="col-md-6 recentProject">
                                            <object data="{{ asset('icons/message.svg') }}" type="image/svg+xml"></object></br>Commenter
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="col-md-3">
            <div class="right-menu">
            <div class="panel panel-primary ">
                <div class="panel-heading">
                    <h3 class="panel-title">Membres du projet</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        {% if projectUsers is defined %}
                            {% for projectUser in projectUsers %}
                                
                                <li class="list-group-item">
                                    {% if project_service.isAllowedLeader(projectUser.user, project) %}
                                        <span class="badge">Leader</span>
                                    {% endif %}
                                        {{ projectUser.user.firstname }}
                                        {{ projectUser.user.lastname }}
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Résumé du projet</h3>
                </div>
                <div class="panel-body">
                    {{ project.summary }}
                </div>
            </div>
            {% if form is defined %}
            <div class="button-right-menu">
                    <a href="{{ path("project_edit", { 'projectId': project.id }) }}">
                        <div class="panel-body">
                            Editer le projet / Ajouter des membres
                            <object data="{{ asset('icons/arrow-right.svg') }}" type="image/svg+xml" class="arrow-right"></object>
                        </div>
                    </a>
            </div>
            {% endif %}
            </div>
        </div>
    <div class="col-md-1"></div>
</div>
<script src="{{ asset('jquery.js') }}"></script>
<script src="{{ asset('js/oXHR.js') }}"></script>
{{ include('like.html.twig') }}
<script>
    var projectsName = [];
    {% for recentActivity in recentActivities %}
        if (projectsName.indexOf("{{ recentActivity.project.name }}") == -1) {
            projectsName.push("{{ recentActivity.project.name }}");

            $('[class="' + "{{ recentActivity.project.name }}" + '"]').click(function() {
                likefunction($('[class="' + "{{ recentActivity.project.name }}" + '"]'), "{{ recentActivity.project.name }}","{{ path('news_feed_subscribe') }}");
            });
        };
    {% endfor %}
</script>
{% endblock body %}

