{% extends "layout.html.twig" %}

{% block title %}Recherche dans fablab{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/search.css') }}" />
<link rel="stylesheet" href="{{ asset('css/vendor/autocomplete/easy-autocomplete.min.css') }}" >
<link rel="stylesheet" href="{{ asset('css/vendor/autocomplete/easy-autocomplete.themes.min.css') }}" >
{% endblock stylesheets %}


{% block body %}

<div class="container">
  <h1>Outil de recherche</h1>
  <div>
    {{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
    {{ form_errors(form) }}
    <div class="form-group">
      {{ form_label(form.categorie, " ", {'label_attr': {'class': 'control-label'}}) }}
      {{ form_widget(form.categorie, {'attr': {'class': 'form-control'}})}}
      {{ form_errors(form.categorie) }}
    </div>
    <div class="form-group">
      {{ form_label(form.stringSearch, " ", {'label_attr': {'class': 'control-label'}}) }}
      {{ form_widget(form.stringSearch, {'attr': {'class': 'form-control'}})}}
      {{ form_errors(form.stringSearch) }}
    </div>
    <div class="form-group">
      {{ form_widget(form.search, {'attr': {'class': 'btn btn-primary'}})}}
    </div>
    {{ form_end(form) }}
  </div>


  <div class="results">
    {% if search is null %}
    Aucun résultat

    {% else %}
    {{ jsonTotal }}<br>
    

    <div class="result">
      <h3>Projets</h3>
      {% if result_project|length > 0 %}

      {% for project in result_project %}
      <a href="#">
        <div class="panel panel-default">
          <div class="panel-body">
            <h4>{{ project.name }}</h4>
            <p>{{ project.summary }}</p>
          </div>
        </div>
      </a>
      {% endfor %}

      {% else %}
      aucun résultat
      {% endif %}
    </div>




    <div class="result">
      <h3>Compétences</h3>
      {% if result_competence|length > 0 %}

      {% for competence in result_competence %}
      <a href="#">
        <div class="panel panel-default">
          <div class="panel-body">
            <h4>{{ competence.name }}</h4>
          </div>
        </div>
      </a>
      {% endfor %}

      {% else %}
      aucun résultat
      {% endif %}
    </div>




    <div class="result">
      <h3>Machines</h3>
      {% if result_machine|length > 0 %}

      {% for machine in result_machine %}
      <a href="#">
        <div class="panel panel-default">
          <div class="panel-body">
            <h4>{{ machine.machine_name }}</h4>
            <p>{{ machine.description }}</p>
          </div>
        </div>
      </a>
      {% endfor %}

      {% else %}
      aucun résultat
      {% endif %}
    </div>



    <div class="result">
      <h3>Utilisateurs</h3>
      {% if result_user|length > 0 %}

      {% for user in result_user %}
      <a href="#">
        <div class="panel panel-default">
          <div class="panel-body">
            <h4>{{ user.username }}</h4>
            <p>{{ user.email }}</p>
          </div>
        </div>
      </a>
      {% endfor %}

      {% else %}
      aucun résultat
      {% endif %}
    </div>

    {% endif %}
  </div>

</div>


<script src="{{ asset('js/vendor/autocomplete/jquery.easy-autocomplete.min.js') }}"></script>
<script type="text/javascript">
var options = {

  preparePostData: function(data) {
    data.phrase = $("#stringSearch").val();
    return data;
  },

  url: function(phrase) {
    return "{{ path('autocomplete') }}";
  },

  categories: [{
    listLocation: "user",
    maxNumberOfElements: 4,
    header: "Utilisateur"
  }, {
    listLocation: "machine",
    maxNumberOfElements: 4,
    header: "Machine"
  }],

  getValue: function(element) {
    return element.name;
  },

  template: {
    type: "links",
    fields: {
      link: "link"
    }
  },

  list: {
    maxNumberOfElements: 8,
    match: {
      enabled: true
    },
    sort: {
      enabled: true
    }
  },

  ajaxSettings: {
    dataType: "json",
    method: "POST",
    data: {
      dataType: "json"
    }
  },

  requestDelay: 300
};

$("#stringSearch").easyAutocomplete(options);
</script>
{% endblock body %}
