

<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Recherche</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">

                        </div>
                        <div class="panel-body">
                            <div class="row">
                            <div class="col-lg-12">
                                  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                                   {{ form_errors(form) }}

                                        <div class="form-group">
                                            {{ form_label(form.stringSearch, "Recherche", {'label_attr': {'class': 'col-sm-6 control-label'}}) }}
                                            {{ form_errors(form.stringSearch) }}
                                            {{ form_widget(form.stringSearch, {'attr': {'class': 'form-control'}})}}
                                            {{ form_end(form) }}
                                        </div>

                                </div>



                                <!-- Affichage User -->
                                
                                {% if (result_user|length < 1 ) and (result_machine |length < 1) %}
                                <div class="col-lg-12">
                                Aucun résultat
                                </div>
                                {% endif %}
                                {% if result_user|length > 0 %}
                                <div class="col-lg-12">
                                <h3>Utilisateur</h3>
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>id</th>
                                            <th>username</th>
                                            <th>mail</th>

                                        </tr>
                                    </thead>


                                    <tbody>

                                        {% for Liste_user in result_user %}
                                          <tr class="odd gradeX">
                                          <td>
                                          {{ Liste_user.id }}
                                          </td>

                                        <td>{{ Liste_user.username }}</td>
                                           <td>{{ Liste_user.email }}</td>







                                          {%  endfor %}
                                        </tr>

                                    </tbody>

                                </table>
                                </div>
                                 {% endif %}
                                 {% if result_machine|length > 0 %}
                                 <div class="col-lg-12">
                                 <h3>Machine</h3>
                                 <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>id</th>
                                            <th>Nom</th>
                                            <th>Description</th>

                                        </tr>
                                    </thead>


                                    <tbody>

                                        {% for Liste_machine in result_machine %}
                                          <tr class="odd gradeX">
                                          <td>
                                          {{ Liste_machine.id }}
                                          </td>

                                        <td>{{ Liste_machine.machine_name }}</td>
                                           <td>{{ Liste_machine.description }}</td>

                                           





                                          {%  endfor %}
                                        </tr>

                                    </tbody>

                                </table>

                                </div>

                                {% endif %}

                                





                                <!-- Fin Affichage User -->
                                <!-- Affichage Machine -->
                                <div class="col-lg-12">

                                






                                </div>
                                <!-- Fin Affichage Machine -->

                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
