{% extends 'layout.html.twig' %}

<!DOCTYPE html>
<html lang="FR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %} Fablab EC-Lille {% endblock %} </title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />


        {% block stylesheets %}
            <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
            <link rel="stylesheet" href="{{ asset('bundles/adesignscalendar/css/fullcalendar/fullcalendar.css') }}" />
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        {% endblock %}

    </head>
    <body>
        <div class="container">
            <row>
            <div class="col-md-8 pull-left">
                <img src="http://centrale.ec-lille.fr/img/logo_site_1.gif" alt="logo fablab"/>
            </div>
            <div class="col-md-4 pull-right text-center">
                <h3>Bonjour {{ app.user.username|upper }} !</h3>
                <p>Nous sommes le {{date().timestamp |date('d/m/Y H:i')}}</p>
            </div>
                </row>
        </div>

        <nav class="navbar navbar-inverse">
            <div class="container col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8">
                <ul class="nav navbar-nav ">
                    <li class="active">
                        <a href="{{ path('centrale_lille_homepage_homepage') }}">Accueil</a>
                    </li>
                    <li>
                        <a href="{{ path('centrale_lille_machine') }}">Réservation Machine</a>
                    </li>
                    <li>
                        <a href="{{ path('centrale_lille_casier') }}">Réservation Casier</a>
                    </li>
                    <li>
                        <a href="{{ path('centrale_lille_salle') }}">Réservation Salle</a>
                    </li>
                    <li>
                        <a href="{{ path('centrale_lille_administration_machines') }}">Admin machines</a>
                    </li>
                    <li>
                        <a href="{{ path('centrale_lille_administration_events') }}">Admin reservations</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="clear-fix">

        </div>
        <div class="container">
            <div class="container col-lg-2 col-md-2">
                <div class="list-group">
                    <a href="{{ path('centrale_lille_my_booking') }}" class="list-group-item active">Mes réservations</a>
                    <a href="#" class="list-group-item">Mes projets</a>
                    <a href="#" class="list-group-item">FAQ</a>
                    <a href="#" class="list-group-item">HELP</a>
                </div>

            </div>

            <div class="col-lg-8">
                {% block body %} Bonjour {% endblock %}
            </div>
        </div>
            <script src="http://code.jquery.com/jquery-2.2.2.min.js"   integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="   crossorigin="anonymous"></script>
            <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script type="text/javascript" src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/fullcalendar/jquery.fullcalendar.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/calendar-settings.js') }}"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
        {% block javascripts %}
        {% endblock %}

    </body>
</html>
