{% extends 'layout.html.twig' %}

{% block title %} {{ parent() }} - mon profil {% endblock %}

{% block body %}
    <div style="margin-top:75px">
        <div class="row" >
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h3>  Mes réservations </h3>
                <div class="well">
                    {% for event in events %}
                    <div class="well">
                        <ul>
                            <h4>{{ event.title }}</h4>
                            <li>Du {{ event.startDateTime|date('d-m-Y H:i')}} au {{ event.endDateTime|date('d-m-Y H:i')}} </li>
                            <li>Sur la machine : {{ event.bookable.getName()  }}</li>
                            <div class="btn-group" role="toolbar">
                                <button class="btn btn-danger" aria-hidden="true" onclick="location.href =''">
                                    Modifier
                                </button>
                                <button class="btn btn-danger" aria-hidden="true" onclick="location.href =''">
                                    Supprimer
                                </button>
                            </div>
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            <div class="col-md-1"></div>
        </div>
    </div>
{% endblock %}